body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 5.625em;
    color: #00adb5;
}

h3 {
    text-align: center;
    font-size: 3em;
    color: #00adb5;
}

h4 {
    font-size: 1.5em;
    color: #00adb5;
    text-align: left;
    text-align: justify;
}

p {
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5;
}

.header-div {
    background-color: #cefff1;
    padding-top: 100px;
}

.cloud-1 {
    position: absolute;
    right: 250px;
    top: 50px;
}

.cloud-2 {
    position: absolute;
    left: 200px;
    top: 400px;
}

.mountain {
    margin-top: 100px;
}

.middle-div {
    margin: auto;
    width: 50%;
}

.nitish-image {
    margin-top: 50px;
    border: 3px solid #00adb5;
    border-radius: 100%;
}

.dot-div {
    border-style: dotted;
    border-width: 10px;
    border-bottom: 0px;
    width: 100px;
    margin: 100px auto;
    color: gray;
}

.dot-div1 {
    margin-top: 200px;
}

.design-class {
    margin: 100px 0px;
}

.mobile-design {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 3px solid #00adb5;
    float: left;
    margin-right: 30px;
}

.design-skills {
    float: left;
    width: 50%;
}

.skills {
    width: 50%;
    margin: auto;
}

.design-text {
    text-align: left;
    font-size: 1.3em;
}

.another-skill {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 3px solid #00adb5;
    float: right;
    margin-left: 30px;
}

.btn-mar {
    margin: 100px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.h4-center {
    text-align: center;
}

.footer {
    background-color: #cefff1;
    height: 150px;
}

.icon {
    width: 50px;
    margin: 10px;
}

.icon:hover {
    border-radius: 100%;
    border: 3px solid #00adb5;
}

h5 {
    color: black;
}